
$blue                   :#1d46f5;
$gray                   :#555;
$gray-light             :#f1f1f1;
$light                  :#fff;
$violet                 :#7800ff;
$blue-dark              :#130f40;
$violet-fresh           :#dd4ffc;



$primary                :$blue-dark;

$body-color             :$primary;

$font-opensans          : 'Open Sans';
$font-poppins           : 'Poppins';
$font-family-base       : $font-poppins;

$font-weight-normal     : 400;
$font-weight-bold       : 600;
$font-weight-superbold  : 700;
$font-weight-base       : $font-weight-normal;

$h1-size                :2.5rem; //40px
$h2-size                :1.875rem; //30px
$h4-size                :1.25rem;  //20px
$h5-size                :1.125rem; //18px
$h6-size                :1rem;


$h1-font-weight         : 700;
