include ../_mixins.pug

section.features-area
    .container
        .row
            .col-lg-6.offset-lg-3.col-md-8.offset-md-2.text-center
                +content_page("Features",
                        "Attractive Features",
                        "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.")
        .row
            .col-md-6
                +single("icofont-business-man",
                                "User Friendly",
                                "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.Praesent dapibus")
            .col-md-6
                +single("icofont-chat",
                                "User Live Chat",
                                "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.Praesent dapibus")
            .col-md-6
                +single("icofont-alarm",
                                "Instant Alert",
                                "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.Praesent dapibus")
            .col-md-6
                +single("icofont-data",
                                "Data Analysis",
                                "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.Praesent dapibus")
            