include ../_mixins.pug

section#home-area.home-area
    .container
        .row
            .col-lg-6.col-md-5
                .caption-img.text-center.d-table
                    .d-table-cell.align-middle
                        img.img-fluid(src="../../images/watch-1.png")

            .col-lg-6.col-md-7
                .caption.d-table
                    .d-table-cell.align-middle
                        h1 Best Landing Page For Product Showcase
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et tenetur est expedita ab animi earum aperiam delectus vero consequuntur temporibus?
                        .wrap-submit
                            +submit("#","Buy Now","icofont-ui-card").bg-submit