include ../_mixins.pug
.navigation
    .container
        nav.nav-expand-lg
            .wrap-logo
                a.logo(href="#")
                    img(src="../../images/logo.png", alt="logo")
            .navbar-collapse.nav-inline
                ul.nav-list.w-100
                    li.nav-item
                        a(href="#Home") Home
                    li.nav-item
                        a(href="#About") About
                    li.nav-item
                        a(href="#Features") Features
                    li.nav-item
                        a(href="#Product") Product
                    li.nav-item
                        a(href="#Testimonial") Testimonial
                    li.nav-item
                        a(href="#Fag") Fag
                    li.nav-item
                        a(href="#Blog") Blog
                    li.nav-item
                        a(href="#Contact") Contact
                ul.abc
                    li
                        +submit("#","Buy Now","icofont-ui-card").bg-submit
                   
                    