sinclude ../_mixins.pug
//- start newsletter
section.newsletter-area
    .container
        .newsletter-wrap
            .row
                .col-lg-6
                    .newsletter-cont
                        h2 Subscribe Our Newsletter
                .col-lg-6
                    .newsletter-form
                        form(action="#" method="post")
                            input(type="email" placeholder="Write Your Email")
                            button(type="submit") Subscribe Now
//- end newsletter