meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
title Template
//- Must download file and put in there after done project
link(rel="stylesheet" href="https://file.myfontastic.com/uPnjjGRbyvu2CQE7BajPTR/icons.css")
link(rel="stylesheet" href="css/style.min.css")