doctype html
head
  include ./_head
body
  include ./_partials/_navigation

  main
    include ./_partials/_header
    include ./_partials/_about
    include ./_partials/_features
    include ./_partials/_whychoose
    include ./_partials/_corefeature
    include ./_partials/_video
    include ./_partials/_product
    include ./_partials/_newsletter
  include ./_partials/_footer

  include ./_script